logo:
	label: Logo
	type: image-url
engName:
	label: English Name
	type: text
address:
	label: Address
	type: textarea
telephone:
	label: Telephone
	type: text
web:
	label: Web
	type: text