logo:
	label: Logo
	type: image-url
engName:
	label: English Name
	type: text
address:
	label: Address
	type: textarea
gpsLatitude:
	label: GPS Latitude
	type: text
	default: 0
gpsLongitude:
	label: GPS Longitude
	type: text
	default: 0
telephone:
	label: Telephone
	type: text
web:
	label: Web
	type: text