"Business card" : section
businessCard:
	label: Image
	type: image-url


"Special Offer" : section
specialActive:
	label: Active
	type: checkbox
	default:
		active:
			label: "Yes"
specialTitle:
	label: Title
	type: text
	default: ''
specialContent:
	label: Content
	type: textarea
specialImage:
	label: Image
	type: image-url

"Special Offer 2" : section
specialActive2:
	label: Active
	type: checkbox
	default:
		active:
			label: "Yes"
specialTitle2:
	label: Title
	type: text
	default: ''
specialContent2:
	label: Content
	type: textarea
specialImage2:
	label: Image
	type: image-url

"Special Offer 3" : section
specialActive3:
	label: Active
	type: checkbox
	default:
		active:
			label: "Yes"
specialTitle3:
	label: Title
	type: text
	default: ''
specialContent3:
	label: Content
	type: textarea
specialImage3:
	label: Image
	type: image-url
	
"Gallery" : section
galleryEnable:
	label: Show gallery
	type: checkbox
	default:
		enable:
			label: 'Yes'
gallery1:
	label: 1. Image
	type: image-url
gallery2:
	label: 2. Image
	type: image-url
gallery3:
	label: 3. Image
	type: image-url
gallery4:
	label: 4. Image
	type: image-url
gallery5:
	label: 5. Image
	type: image-url
gallery6:
	label: 6. Image
	type: image-url
gallery7:
	label: 7. Image
	type: image-url
gallery8:
	label: 8. Image
	type: image-url
gallery9:
	label: 9. Image
	type: image-url
gallery10:
	label: 10. Image
	type: image-url
gallery11:
	label: 11. Image
	type: image-url
gallery12:
	label: 12. Image
	type: image-url
gallery13:
	label: 13. Image
	type: image-url
gallery14:
	label: 14. Image
	type: image-url
gallery15:
	label: 15. Image
	type: image-url
gallery16:
	label: 16. Image
	type: image-url
gallery17:
	label: 17. Image
	type: image-url
gallery18:
	label: 18. Image
	type: image-url
gallery19:
	label: 19. Image
	type: image-url
gallery20:
	label: 20. Image
	type: image-url
